*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* background-color: chartreuse; */
    width: 80%;
    margin:  15px auto;
}
/* home */
.home{
    background-image: url(images/slider/slider-01.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
.home .home-background{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar{
    padding: 20px 0px;
    /* background-color: rgb(205, 224, 230); */
    position: relative;
}
.navbar p{
   /* background-color: aquamarine; */
    color: #eb2c54;
    font-weight: 800;
    font-size: 24px;
    font-family:"Roboto",sans-serif ;
    /* width: 30%; */
    float: left;
    margin: 0 30px ;
    position: absolute;
    top: 0;
   left: 0;
}
.navbar ul{
    /* background-color: bisque; */
    list-style: none;
    width: 50%;
    float: left;
    text-align: right;
    position: absolute;
    top: 0;
    right: 40px;
    opacity: 1;
   
    
}
.navbar ul img{
    width: 5%;
    height: 5%;
    opacity: 0;
}
.clr{
    clear: both;
}
.navbar ul li{
    display: inline-block;
  margin: 8px;
  font-family: "Roboto",sans-serif;
  font-weight: 200;   

}
.navbar ul li a{
    text-decoration: none;
    color: white;
 
}
.navbar ul li a span{
    color: #eb2c54;
    font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
}
.navbar ul li a:hover{
    color: #eb2c54;
    transition: 1s;
}
.home-background .content{
    /* background-color: cornflowerblue; */
    text-align: center;
    position: relative;
    top: 30%;
}
.home-background .content h3{
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-family:'Source Sans Pro', sans-serif;
    margin: 30px 0 10px 0;
}
.home-background .content h1{
    color: #eb2c54;
    font-weight: bold;
    font-size: 70px;
    font-family:'Source Sans Pro', sans-serif;
    margin: 10px 0;
}
.home-background .content h4{
    color: white;
    font-size: 26px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/* about */

.about{
    background-color:white;
    width: 100%;
    padding: 100px 0;   
}

.about .image {
    background-color:white;
    width: 30%;
    height: auto;
    float: left;
    margin: 30px;
    border: 8px solid gray;
    border-radius: 10px;  
    
    
}

.about .image img{
    position: relative;
    top: 23px;
    left: 20px;
    border-radius: 10px;
  
}



.about-content{
    background-color: white;
    height: 400px;
    width: 50%;
    /* width: 550px; */
    float: left;
    margin: 30px;
    padding: 30px;
}
.main{
    background-color: white; 
}
.about-content h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 25px;
    padding-left: 13px;
    font-family: 'Source Sans Pro', sans-serif;
  color: #333333;
  border-left: #eb2c54 5px solid;
  
}
.about-content p{
    color: #333333;
    margin-bottom: 15px;
    border-bottom: 1px dashed #9999;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
ul{
    list-style: outside none none;
    margin: 0;
    padding: 0; 
    
}
.profile-about ul{
    display: table;
}
.profile-about ul li{
    float: left;
    width: 40%;
    margin-bottom: 15px;
    color: #333333;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
.profile-about ul li span{
    color:#333333;
    font-weight: bold;
}
.btn1{
    width: 165px;
    height: 45px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0;
    background-color: #eb2c54;
    color: white;
    font-weight: 400;
    font-size: medium;
    transition: background-color 1s;
}
.profile-about .btn1:hover{
    background-color: red;
}
.btn2{
    width: 125px;
    height: 45px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin: 3px;
    background-color: #eb2c54;
    color: white;
    font-weight: 400;
    font-size: medium;
    transition: background-color 1s;
}
.profile-about .btn2:hover:hover{
    background-color: red;
}

/* Services */
.Services{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    
}
.Services h1{
    /* background-color: aliceblue; */
    text-align: center;
    color: #333333;
    text-decoration: underline;
    font-size: 40px;
    font-weight: 600;  
    margin: 30px 0; 
    
}

.Services .Service{
    width: 25%;
    text-align: center;
    padding: 35px;
    float: left;
}
.Services .Service h2{
    color: #333333;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}
.Services .Service:hover{
    border: 1px solid white;
    background-color: white;
}


/* Portfolio */
.Portfolio{
    /* background-color: darkorchid; */
    width: 100%;
    height:auto;
   }
   .Portfolio h1{
       text-align: center;
       text-decoration: underline;
       color: #333333;
       font-size: 40px;
       font-weight: 600;  
       margin: 30px 0; 
   }
   .Portfolio ul{
       list-style: none;
   }
   .Portfolio  ul li{
       display: inline-block;
       margin: 10px;
       color: #333333;
       font-family: 'Source Sans Pro', sans-serif;
       
   }
   .Portfolio  ul li span{
       color: #eb2c54;
   }
   .part
   {
       text-align: center;
       
   }
   .row1 img{
       width: 100%;
   }
   
   .col{
       /* background-color: cornflowerblue; */
       width: 33.333%;
       float: left;
       text-align: center;
       padding: 15px;
       margin-top:20px ;
   }
   .col img{
       width: 100%;  
       transition:background-color 2.5s ;
   }
    
   .col .image{
       /* background-color: aqua; */
       width: 100%;
       height: auto;
       position: relative;
   }
   
   .col .layer{
       width: 100%;
       height: 100%;
        position: absolute;
       top: 0;
       left: 0; 
   }
   .image .layer:hover{
       background-color: rgba(5, 5, 5, 0.6);
   }



   /* session */
.session{
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    margin: 30px auto;
}
.session .session1{
    background-color: #f1f1f1;
    width: 25%;
    float: left;
    text-align: center;
    padding: 25px;
   
}
.session .session1 img{
    width: 15%;
}
.session .session1 h3 ,h5{
    font-family: 'Source Sans Pro', sans-serif;
    
    margin: 10px;
}
.session .session1 h3{
    color: #333;
    font-size: 26px;
    font-weight: bold;
}
.session .session1 h5{
    color:  #555555;
    font-size: 16px;
}
   /* Testimonial */
  .Testimonial{
    background-color: white;
    width: 100%;
    height:auto;
  }
  .Testimonial h2{
    text-align: center;
    text-decoration: underline;
    color: #333333;
    font-size: 40px;
    font-weight: 600;  
    margin: 30px 0; 
  }
  .Testimonial .client{
    background-color: white;
    width: 100%;
    height:auto;
  }
  .Testimonial .client1 ,.client2{
    width: 90%;
    height: auto;
    background-color: white;
    text-align: center;
    margin: auto;
  }
  .Testimonial .client1  img{
    width: 50%;
    border-radius: 10px;
  }
  .Testimonial .client2 img{
    width: 45%;
    border-radius: 10px;
  }  
  .client .button {
    text-align: center;
  }
  .client button  {
    background-color: white;
    border: 0.5px solid #eb2c54 ;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }



/* blog */
.blog{
    margin: 50px auto;
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
}
.blog h2{
    text-align: center;
    text-decoration: underline;
    color: #333333;
    font-size: 40px;
    font-weight: 600;  
    margin: 40px 0; 
}
.inner{
    background-color: white;
}
.item{
    /* background-color: aliceblue; */
    width: 33.33%;
    height: auto;
    float: left;
    padding: 20px;
}
.item img{
    width: 100%;
}
.item p ,h5{
    margin: 15px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.item h5{
    font-weight: bold;
    font-size: 24px;
    transition: color 1s ;
}
.item h5:hover{
    color:#eb2c54 ;
  }
.item span{
    
    transition: color 0.5s ;
}
.item span:hover{
    color:#eb2c54
}



/* Contact US */

.Contact-US{
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    padding: 30px;
}
.Contact-US h2{
    text-align: center;
    text-decoration: underline;
    color: #333333;
    font-size: 40px;
    font-weight: 600;  
    margin: 40px 0; 
}

.Contact-US .input{
    /* background-color: aliceblue; */
    text-align: center;
    width: 100%;
    margin: 10px;
   
    
}
.Contact-US .input input{
    padding: 10px;
    width: 25%;
    border-radius: 5px;
    border: 0.5px solid gray;
    margin: auto 10px;
    font-size: 16px;
    color: rgb(137, 137, 137) ;
}
.Contact-US .input .input1{
    padding: 10px;
    width: 52%;
    border-radius: 5px;
    border: 0.5px solid gray;
    margin: auto 10px;
    color: rgb(137, 137, 137) ;
}
.Contact-US .input textarea {
    border: 0.5px solid ;
    border-radius: 5px;
    padding: 5px;
    color: rgb(137, 137, 137) ;
}
.Contact-US .btn-input{
    /* background-color: aliceblue; */
    text-align: center;
    width: 50%;
    margin-top: 30px;
    margin-left: 55px;
    
}
.Contact-US .btn-input button{
    width: 20%;
    height: 45px;
    border: none;
    background-color: #eb2c54;
    color: white;
    border-radius: 8px;
    transition:background-color 2s ;
   
}
.Contact-US .btn-input button:hover{
    background-color: red;
}



/* foooter */
.footer{
    background-color: #333;
    width: 100%;
    height: 22vh;
}
.footer .footer1{
    /* background-color: antiquewhite; */
    width: 50%;
    text-align: center;
    margin:  30px auto;
}
.footer .footer1 img{
    width: 20%;
    margin: 10px;
}
.footer .footer1 p{
    color: white;
    font-size: 16px;
}
.footer .footer1 a{
    text-decoration: none;
    color: #eb2c54;
    transition: all 1s;
}
.footer .footer1 a:hover{
    text-decoration:underline;
    color: #eb2c54;
}